* {
     box-sizing: border-box;
    /* padding: 0; */
    /* margin:0; */
     font-family:sans-serif ;
}

body {
    background-color: crimson;
    background-image: url(./jordan-johnson-o9SuqQY02Fo-unsplash.jpg);
    background-position: center;
    background-size: cover;
}
a {
    cursor: pointer;
}

p {
    line-height: 1.5;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* padding-top: 2px; */
}

h1 { 
    text-align: left;
    font-size: 3em;
    font-family: sans-serif;
    color:navajowhite;
    background-image: url(./HEADER\ BACKROUNDnavajoland_1920x1200.jpg );
    border-radius: 40px;
    /* margin: 5% */
    padding: 2% 
}
.smallh2 {
    text-align: right;
    font-size: 24px ;
    color: gold;
}
nav {
    border-radius: 40%;
    background-image: url(./01414_1967fordgalaxie_1920x1200.jpg);
    background-position: center;
    background-size: cover;
    padding: 10%;
    display: flex;
    justify-content: flex-end;
}

.navbutton3{
    background-color: #3b6bf0; 
    border: 5px solid salmon;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 20px;
    cursor: pointer;
    border-radius: 50%;
    float: right; 
}

section img {
      height: 150px;
      width: 150px;
      padding: 0%;
}

main {
    margin-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

h2 {
    font-size: 60px;
    font-family: sans-serif;
    padding-top: 5px;
}

aside {
    /* margin-right: 75% */
    /* background-color: cadetblue; */
    /* width: 25%; */
    height: 100%;
}

aside img {
    height: 350px;
    border-radius: 35px;
   
}

/* h2 */
#about {
    /* background-color: lightgray; */
    text-align: center;
    margin-bottom: 0; 
}

article {
    /* background-color: chartreuse; */
    color:wheat;
    margin-left: 15%;
    margin-right: 15%;
    opacity: 80%; 
}


#projects {
    color: wheat;
    text-align: center; 
    font-size: 40px ;
    /* background-color: coral; */
    /* clear: both; */
}

.projectsthree {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.PSC{
    text-align: center ;
}

#safe {
      background-color: darkorchid;
      /* max-width: 30%; */
      /* float:right */
}

#gym {
      background-color: goldenrod;
      /* max-width: 30%; */
      /* float: left; */
}
  
#ttt {
      background-color: hotpink;
       /* max-width:30%; */
      
}
.emailfig {
    text-align: center;
    font-size: 2em;
    /* background-image: url(./STAR.png); */
    /* background: #8eaa97 ; */
    margin-left: 35%;
    margin-right: 35% ;
}

@media screen and (max-width: 576px) {
    .projectsthree {
        flex-wrap: wrap;
        justify-content: center;
    }
}