* {
     box-sizing: border-box;
     font-family: sans-serif;
}

body {
    background-color: crimson;
    background-image: url(../ASSETS/img/jordan-johnson-o9SuqQY02Fo-unsplash.jpg);
    background-position: center;
    background-size: cover;
}

h1 { 
    text-align: left;
    font-size: 50px;
    /* font-family: sans-serif; */
    color:navajowhite;
    /* background-image: url(../ASSETS/img/HEADER\ BACKROUNDnavajoland_1920x1200.jpg);  */
    border-radius: 40px;
    /* margin: 5% */
    padding: 1% 
}

.smallh2 {
    text-align: right;
    font-size: 30px ;
    color: gold;
    padding-right: 5%;
}

a {
    cursor: grabbing;
}

nav {
    border-radius: 40%;
    /* background-image: url(../ASSETS/img/01414_1967fordgalaxie_1920x1200.jpg); */
    background-position: center;
    background-size: cover;
    padding: 10%;
    display: flex;
    justify-content: flex-end;
}

.navbutton3 {
    background-color: #3b6bf0; 
    border: 5px solid salmon;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 20px;
    cursor: grabbing;
    border-radius: 50%;
    float: right;   
}

main {
    margin-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column; 
}

aside {
    /* display: flex; */
    /* flex-flow: row; */
    /* justify-content: space-around; */
    height: 100%;
}

aside img {
    height: 350px;
    border-radius: 35px; 
}

article {
    /* background-color: chartreuse; */
    color:wheat;
    margin-left: 15%;
    margin-right: 15%;
    opacity: 80%; 
}

/* h2  in <article>*/
#about {
    /* background-color: lightgray; */
    text-align: center;
    margin-bottom: 0; 
    font-size: 60px;
    font-family: sans-serif;
    padding-top: 5px;
}

/* h2 {
    font-size: 60px;
    font-family: sans-serif;
    padding-top: 5px;
} */

p {
    line-height: 1.5;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* padding-top: 2px; */
}




h4 {
    color: wheat;
}

.feature {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 1%;
    text-align: center; 
    font-size: 03em; 
    justify-content: center;
    /* background-color: darkred; */
    /* background-image: url(../ASSETS/img/matthew-t-rader-PZjF2Hkv6Xo-unsplash.jpg); */
    background-size: cover;  
}

.featureimg {
    height: 300px;
    width: 400px; 
}

section img {
    height: 150px;
    width: 150px;
    padding: 0%;
}







#projects {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: wheat;
    text-align: center; 
    font-size: 60px ;
    /* background-color: coral; */
    /* clear: both; */
}

.projectsthree {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.PSC{
    text-align: center ;
}

#safe {
      background-color: darkorchid;
      /* max-width: 30%; */
      /* float:right */
}

#gym {
      background-color: goldenrod;
      /* max-width: 30%; */
      /* float: left; */
}
  
#ttt {
      background-color: hotpink;
       /* max-width:30%; */
      
}
.emailfig {
    text-align: center;
    font-size: 2em;
    background-image: url(./STAR.png); 
    background: #8eaa97 ; 
    margin-left: 30%;
    margin-right: 30% ;
}
#phone{
    font-size: 20px;
}


@media screen and (max-width: 576px) {
    .projectsthree {
        flex-wrap: wrap;
        justify-content: center;
    }
}